# OCI Resource Manager automatically supplies provider authentication.
tenancy_ocid            = "ocid1.tenancy.oc1..replace_me"
parent_compartment_ocid = "" # Blank means tenancy root.
region                  = "us-ashburn-1"

# Oracle SCCA-style naming.
region_key    = "IAD"
resource_label = "PROD"

home_compartment_name = "OCI-SCCA-LZ-Home"
vdms_compartment_name = "OCI-SCCA-LZ-VDMS"
vdss_compartment_name = "OCI-SCCA-LZ-VDSS"

enable_logging_compartment = true
logging_compartment_name   = "OCI-SCCA-LZ-Logging"

enable_backup_compartment = true
backup_compartment_name   = "OCI-SCCA-LZ-IAC-TF-Configbackup"

workload_compartment_name_prefix = "OCI-SCCA-LZ-WRK"
workload_postfixes                = ["SWR1", "SWR2"]

# Safety default. Change only after reviewing OCI compartment deletion behavior.
enable_compartment_delete = false
